---
layout: base
---
<style>
    #main_content {
        max-width: 800px;
        font-size: 1.1em;
        text-align: justify;
        margin: 0 auto;
    }
</style>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <h1 id="project_tagline">{{ page.title | default: site.title }}</h1>
    </header>
</div>

<div class="container">
    <nav class="main-nav">
        <ul>
            <li><a href="/">Back to Home</a></li>
        </ul>
    </nav>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>
</div>
